In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ativos = ['PETR4','VALE3', 'ABEV3', 'WEGE3', 'EMBR3', 'RADL3', 'CVCB3', 'CIEL3', 'OIBR3', 'KNRI11']

In [3]:
ativos = [i + '.SA' for i in ativos]

In [4]:
inicio = '2020-01-01'
fim = '2023-07-10'

In [5]:
df = yf.download(ativos, start = inicio, end = fim)['Adj Close']

[*********************100%***********************]  10 of 10 completed

In [6]:
df.head()

,ABEV3.SA,CIEL3.SA,CVCB3.SA,EMBR3.SA,KNRI11.SA,OIBR3.SA,PETR4.SA,RADL3.SA,VALE3.SA,WEGE3.SA
Date,,,,,,,,,,
2020-01-02,17.020620,7.007979,44.709999,20.200001,179.568451,8.6,12.180106,21.383530,39.578945,16.831549
2020-01-03,16.781267,6.918028,44.200001,20.410000,179.568451,8.6,12.080916,20.906805,39.287548,16.616611
2020-01-06,16.861053,6.746305,43.820000,20.379999,178.111069,9.2,12.223744,20.495258,39.054428,16.659601
2020-01-07,16.896511,6.550048,44.400002,20.500000,178.803787,9.4,12.176136,20.214071,39.338539,16.788561
2020-01-08,16.816727,6.402856,44.340000,20.330000,168.682816,9.2,12.100756,20.484085,39.345821,16.153313

#### normalizando os ativos

In [7]:
normalizado = df/df.iloc[0]

In [8]:
normalizado.plot(figsize = (8,7))

### Preços no dia do aporte

In [ ]:
primeiro = df.iloc[0]

In [ ]:
primeiro

In [ ]:
comprados = 1000/primeiro

In [ ]:
comprados

In [ ]:
# Número de papéis arredondados
round(comprados, 0)

In [ ]:
comprados = round(comprados, 0)

In [ ]:
comprados

## 7.4. Construção da carteira e da comparação com o IBOV

Como saber qual era o valor que tínhamos em cada papel, por dia? Basta multiplicar o número de papéis que compramos com os preços diários

PL = df*comprados

In [ ]:
PL.head()

In [ ]:
PL.tail()

In [ ]:
# Criando uma nova coluna que vai demonstrar o valor total da nossa carteira, por dia
PL['PL Total'] = PL.sum(axis = 1)

In [ ]:
#PL.head()
PL.tail()

In [ ]:
ibov = yf.download('^BVSP', start = inicio, end = fim)

In [ ]:
ibov.head()

In [ ]:
ibov.rename(columns = {'Close':'Ibov'}, inplace = True)

In [ ]:
ibov = ibov[['Ibov']]

In [ ]:
ibov

Agora vamos juntar os dados das tabelas do IBOV e da nossa carteira

In [ ]:
novo_df = pd.merge(ibov, PL, how = 'inner', on = 'Date')

In [ ]:
novo_df.head()

In [ ]:
novo_df.plot()

In [ ]:
novo_normalizado = (novo_df/novo_df.iloc[0])*100

In [ ]:
novo_normalizado

In [ ]:
novo_normalizado.plot()

In [ ]:
novo_normalizado[['Ibov','PL Total']].plot(figsize = (8,6))

E se o usuário conseguisse determinar quanto ele investiria em cada ativo?

In [ ]:
ativos